*{
    margin: 0;
    padding: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.rotate-180{
    transform: rotate(180deg);
}
input, select{
    padding: 4px 8px; 
}
button, input[type=submit]{
    padding: 6px 10px;

    background-color: transparent;
    border: 1px solid gray;
    border-radius: 4px;

    cursor: pointer;
}
.button-success, input[type=submit]{
    color: white;
    background-color: green;
    border-color: rgb(20, 179, 20);
}
.button-neutral{
    color: rgb(15, 15, 15);
    background-color: rgb(247, 247, 247);
    border-color: rgb(15, 15, 15);
}
.button-danger{
    color: white;
    background-color: rgb(116, 2, 2);
    border-color: transparent;
}
.button-disabled{
    color: rgb(161, 161, 161);
    background-color: rgb(187, 187, 187);
    border-color: transparent;
    
    cursor: not-allowed;
}